{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="seclabs-team">

    <title>seclabs: {% block title %}{% endblock %}</title>
 
    <link rel="icon" href="{% static 'dashboard/img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'dashboard/css/seclabs.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/animate.min.css' %}">
    {% block style %}{% endblock %}
  </head>


  <body class="login-body">
    {% block login %}{% endblock %}
    {% block javascript %}{% endblock %}
  </body>
</html> 
