#//////////////////////////////////////////////
# --- ignores ---
#//////////////////////////////////////////////
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
#---
env/
venv/
.env/
.venv/
venv.bak/
.env.bak/
#---
migrations/
local_settings.py
*.local.py
*.sqlite3
db.sqlite3
db.sqlite3-journal
#---
style/
#---
*.log
.*log.*
logs/
#---
.env
.env.*
#---
secrets.yml
*.pem
*.key
#---
*.swp
*~
#---
.DS_Store
.Trashes
_build
_static
_templates
#---
.cache
