{% extends "seclabs-dashboard-theme.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Users Accounts' %}{% endblock %}
{% block description %}{% trans 'The list of all seclabs user accounts.' %}{% endblock %}

{% block style %}{% endblock %}
{% block javascript %}{% endblock %}

{% block dashboard %}
<div class="col-md-12 mx-auto mt-3">
    <div class="row align-items-center mb-3">
        <div class="col">
            {% if search %}<span class="bg-light text-dark p-2">{% trans 'The following results were found.' %}</span>{% endif %}
            {% if query and not search %}<span class="bg-light text-danger p-2">{% trans 'No results found.' %}</span>{% endif %}
        </div>
        <div class="col-auto ml-auto">
            <div class="d-flex">
                {% if request.user.is_superuser %}
                <a href="{% url 'dashboard_users_create' %}" class="btn btn-az-primary mx-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                    {% trans 'New User' %}
                </a>
               {% endif %}
                <form action="{% url 'dashboard_users' %}" method="get" class="mx-2">
                    <div class="input-icon input-group">
                        <input type="text" name="q" value="{{query}}" tabindex="1" autocomplete="off" class="form-control d-inline-block w-9" placeholder="{% trans 'Search Users ...'%}">
                        <span class="input-group-btn">
                            <button class="p-0 px-2 btn btn-black" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                             </button>
                        </span>
                    </div>
                </form>
           </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center lead bd-0 tx-white bg-black-9">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
            </svg>
            &nbsp;{% trans 'User Accounts' %}&nbsp;<span class="small">({{total}})</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        <tr>
                            <th class="text-left">{% trans 'Name' %}</th>
                            <th class="text-left">{% trans 'Email' %}</th>
                            <th class="text-left">{% trans 'Title' %}</th>
                            <th class="text-left">{% trans 'Username' %}</th>
                            <th class="text-left">{% trans 'Role' %}</th>
                            <th class="text-center">{% trans 'Status' %}</th>
                            <th class="text-center">{% if request.user.is_superuser %}{% trans 'Actions' %}{% endif %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="text-left">{{user.first_name}}&nbsp;{{user.last_name}}</td>
                            <td class="text-left">{{user.email}}</td>
                            <td class="text-left">{{user.profile.title}}</td>
                            <td class="text-left">{{user.username}}</td>
                            <td class="text-left">{% if user.is_superuser %}{% trans 'Super User' %}{% else %}{% trans 'Staff User' %}{% endif %}</td>
                            <td class="text-center"><span class="tx-bold">{% if user.is_active %}{% trans 'Active' %}{% else %}{% trans 'Inactive' %}{% endif %}</td>
                            <td class="text-center">
                                {% if request.user.is_superuser %}
                                <div class="btn-list flex-nowrap">
                                    <a href="{% url 'dashboard_users_edit' user.id %}" class="mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                        </svg>
                                    </a>
                                    <a href="{% url 'dashboard_users_delete' user.id %}" class="mx-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                        </svg>
                                    </a>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "dashboard/dashboard-pagination.html" with pages=users search=search query=query page_range=page_range %}

</div>
{% endblock %}
