{% extends "seclabs-dashboard-theme.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Audit Logs' %}{% endblock %}
{% block description %}{% trans 'Audit Logs for accessing the seclabs platform.' %}{% endblock %}

{% block style %}{% endblock %}
{% block javascript %}{% endblock %}

{% block dashboard %}
<div class="col-md-12 mx-auto mt-3">
    <div class="row align-items-center mb-3">
        <div class="col">
            {% if search %}<span class="bg-light text-dark  p-2">{% trans 'The following results were found.' %}</span>{% endif %}
            {% if query and not search %}<span class="bg-light text-danger p-2">{% trans 'No results found.' %}</span>{% endif %}
        </div>
        <div class="col-auto ml-auto">
            <div class="d-flex">
                <form action="{% url 'dashboard_audit_index' %}" method="get">
                    <div class="input-icon input-group">
                        <input type="text" name="q" value="{{query}}" tabindex="1" autocomplete="off" class="form-control d-inline-block w-9" placeholder="{% trans 'Search Audit Logs ...'%}">
                        <span class="input-group-btn">
                            <button class="p-0 px-2 btn btn-black" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                             </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center lead bd-0 tx-white bg-black-9">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            </svg>
            &nbsp;{% trans 'Audit Logs' %}&nbsp;<span class="small text-pink">({{total}})</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Username' %}</th>
                            <th class="text-center">{% trans 'Superuser' %}</th>
                            <th>{% trans 'Accessed Path' %}</th>
                            <th>{% trans 'HTTP Method' %}</th>
                            <th>{% trans 'IP Address' %}</th>
                            <th>{% trans 'Datetime' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in auditlogs %}
                        <tr>
                            <td>{{log.first_name}} {{log.last_name}}</td>
                            <td>{{log.username}}</td>
                            <td class="text-center">{% if log.is_superuser %}{% trans 'yes' %}{% else %}{% trans 'no' %}{% endif %}</td>
                            <td>{{log.request_path}}</td>
                            <td>{{log.method }}</td>
                            <td>{{log.ipaddress}}</td>
                            <td class="text-muted">{{log.timestamp}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "dashboard/dashboard-pagination.html" with pages=auditlogs search=search query=query page_range=page_range %}

</div>
{% endblock %}

