{% extends "asana/dashboard/asana-index.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Asana Users' %}{% endblock %}
{% block description %}{% trans 'The list of all Asana users under the organization.' %}{% endblock %}

{% block style %}{% endblock %}
{% block javascript %}{% endblock %}

{% block asana %}

<div class="col-md-12 mx-auto mt-3">

    <div class="row align-items-center mb-3">
        <div class="col">
            {% if search %}<span class="bg-light text-dark p-2">{% trans 'The following results were found.' %}</span>{% endif %}
            {% if query and not search %}<span class="bg-light text-danger p-2">{% trans 'No results found.' %}</span>{% endif %}
            {% if not search and not query %}{% if users %}<span class="text-muted pr-2">{% trans 'Last Updated:'%}</span>{{users.0.modified}}{% endif %}{% endif %}
        </div>
        <div class="col-auto ml-auto">
            <div class="d-flex">
                <form action="{% url 'dashboard_asana_users' %}" method="get" class="mx-2">
                    <div class="input-icon input-group">
                        <input type="text" name="q" value="{{query}}" tabindex="1" autocomplete="off" class="form-control d-inline-block w-9" placeholder="{% trans 'Search Asana Users ...'%}">
                        <span class="input-group-btn">
                            <button class="p-0 px-2 btn btn-black" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                             </button>
                        </span>
                    </div>
                </form>
           </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header text-center lead bd-0 tx-white bg-black-9">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
            </svg>
            &nbsp;{% trans 'Asana Users' %}&nbsp;<span class="small">({{total}})</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-vcenter table-mobile-md card-table">
                    <thead>
                        <tr>
                            <th class="text-left">{% trans 'Name' %}</th>
                            <th class="text-left">{% trans 'Email' %}</th>
                            <th class="text-center">{% trans 'Active' %}</th>
                            <th class="text-center">{% trans 'Admin' %}</th>
                            <th class="text-center">{% trans 'Guest' %}</th>
                            <th class="text-center">{% trans 'View Only' %}</th>
                            <th class="text-center">{% trans 'Created' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td class="text-left">{{user.full_name}}</td>
                            <td class="text-left">{{user.email}}</td>
                            <td class="text-center"><span class="tx-bold">{{user.status}}</td>
                            <td class="text-center">{{user.is_admin}}</td>
                            <td class="text-center">{{user.is_guest}}</td>
                            <td class="text-center">{{user.is_view_only}}</td>
                            <td class="text-center">{{user.created|date:"j M Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "dashboard/dashboard-pagination.html" with pages=users search=search query=query page_range=page_range %}

{% endblock %}
